<div class="container align-items-center">

    <div class="row gx-5 gy-5 mt-5 mb-5">

        @if( stores ) {

            @for ( store of stores.results; track store) {

                <div class="col-4">
    
                    <div class="card px-3 mt-5">
    
                        <div class="card-header bg-transparent border-bottom-0" [routerLink]="'/tienda/'+store.id" role="button">
                            <img class="card-img-top rounded-pill img-thumbnail height-adjust" [src]="store.image_background">
                            <h4 class="title text-center">{{store.name}}</h4>
                        </div>
                        
                        <div class="card-body">
                            <p>Nº juegos: {{store.games_count}}</p>
                            <a role="button" [href]="'https://'+store.domain" target="_blank"> {{store.domain}}</a>
                        </div>
        
                    </div>
    
                </div>
    
            }

        }

    </div>

</div>